<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to eShopCrud</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<h1>
    Welcome to eShopCrud
</h1>

<form th:action="@{/logout}" method="post">
    <div style="text-align:right">
    <input type="submit" class="btn btn-info"  value="Logout"/>
    </div>

    <div class="container-fluid text-center">

        <a class="h2" th:href="@{/users}">Manage Users</a>
    </div>
    <div class="container-fluid text-center">

        <a class="h2" th:href="@{/products}">Manage Products</a>
    </div>

</form>
</body>
</html>